body {
    font-family: Elephant, sans-serif;
    background-color: #f4f4f4;
    color: #3c82a3;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    
    border-radius: 50%;
    border: 5px solid #432dc4;
    margin-top: 20px;
}

h1 {
    color: #af1870;
    font-size: 2.5em;
    margin-top: 20px;
}